.hero-container {
    background: #F4FFF5;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.welcome {
    text-align: center;
    color: #000000;
    font-size: 3.5rem; /* Use viewport width units for responsive font size */
    font-weight: 500;
    width: 80%; /* Adjust width */
    margin-top: 5rem;
}

.interested {
    text-align: center;
    color: #000000;
    font-weight: 300;
    font-size: 1.65rem; /* Use viewport width units for responsive font size */
    margin-top: 10px;
    width: 55vw; /* Adjust width */
}


.explore {
    margin-top: 5rem;
    text-align: left;
    color: #000000;
    font-weight: 300;
    font-size: 1.2rem; /* Use viewport width units for responsive font size */
    width: 40%; /* Adjust width */
    line-height: 1.75; /* Adjust line height */
}

.wrapper {
    width: 55vw;
    height: 50%;
    display: flex;
    flex-wrap: nowrap;
    align-content: stretch;
    flex-direction: row;
    justify-content: center;
}


.homeimage{
    margin-left: 100px;
    margin-top: 30px;
    max-width: 400px;
}

.take {
    color: black;
    margin-top: 20px;
    margin-bottom: 5rem;
    width: 23vw;
    height: 60px;
    border-radius: 10px;
    border-color:#00000000;
    background-color: #9FFFA8;
    letter-spacing: 8px;
    font-weight: 600;
    font-size: 15px;
    align-items: center;
    transition: width 0.4s ease-out, height 0.4s ease-out, font-size 0.4s ease-out; /* Transition for normal state */
}

.take:hover {
    width: 25vw;
    height: 65px;
    font-size: 17px;
}

.hero-container > h1 {
    color: #fff;
    font-size: 100px;
    margin-top: -100px;
} 
@media screen and (max-width: 1060px) {
    .welcome{
        width: 90%;
    }
.interested {
    text-align: center;
    color: #000000;
    font-weight: 300;
    font-size: 1.65rem; /* Use viewport width units for responsive font size */
    margin-top: 15px;
    width: 75vw; /* Adjust width */
}

.homeimage{
    margin-left: 0;
    margin-top: 30px;
    max-width: 50%;
}

.explore {
    margin-top: 0;
    text-align: center;
    color: #000000;
    font-weight: 300;
    font-size: 1.2rem; /* Use viewport width units for responsive font size */
    width: 100%; /* Adjust width */
    line-height: 1.75; /* Adjust line height */
}

.wrapper {
    width: 75vw;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}

.take {
    color: black;
    text-align: center;
    margin-top: 20px;
    width: 50vw;
    height: 60px;
    border-radius: 10px;
    border-color:#00000000;
    background-color: #9FFFA8;
    letter-spacing: 8px;
    font-weight: 600;
    font-size: 15px;
    align-items: center;
    transition: width 0.4s ease-out, height 0.4s ease-out, font-size 0.4s ease-out; /* Transition for normal state */
}

.take:hover {
    width: 55vw;
    height: 65px;
    font-size: 17px;
}

.hero-container > h1 {
    color: #fff;
    font-size: 100px;
    margin-top: -100px;
} 
}